@import "./variables.scss";
@import "./mixins.scss";

main {
    min-block-size: $size-full;
    background-color: $colour-primary-yellow;
    position: relative;

    .card {
        @include positionCentralAbsolute;
        @include displayFlexColumn;
        @include borderWithShadow;
        padding: $spacing-standard;
        background-color: $colour-neutral-white;
        max-width: 220px;
        gap: $spacing-standard;

        span {
            font-family: $font-family;
        }

        .learningIcon {
            border-radius: $border-radius-sm;
        }

        .tagPublishContainer {
            @include displayFlexColumn;
            gap: $spacing-medium;

            .tagContainer {
                @include displayFlexRow;
                width: fit-content;
                padding: 5px 8px;
                background-color: $colour-primary-yellow;
                border-radius: $border-radius-xsm;

                .tag {
                    font-size: $font-size-sm;
                    font-weight: $font-weight-600;
                }
            }

            .publishDate {
                font-size: $font-size-sm;
            }
        }


    }
}